<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Nonprofits

    <a data-toggle="collapse" href="#user_nonprofits_new_form">
      Add nonprofit
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @user.nonprofits.each do |nonprofit| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <%= link_to nonprofit, nonprofit %>
        <!-- Show link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="user_nonprofits_new_form">
        <!-- New associationcollection form start -->
        <%= render partial: "users/user_nonprofits_new_form" %>
        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
