<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @nonprofit, partial: "card", as: :nonprofit %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "nonprofits/nonprofit_events" %>
  </div>
</div>
